<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680598770477-3lfiecp1g3eroprmj0j90cn9iuj9erum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680598770477-3lfiecp1g3eroprmj0j90cn9iuj9erum</string>
	<key>API_KEY</key>
	<string>AIzaSyDIK5pW_teyFum0dITu7mIdk180iOZ47ZU</string>
	<key>GCM_SENDER_ID</key>
	<string>680598770477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Deltna.Deltna</string>
	<key>PROJECT_ID</key>
	<string>deltna-7dbcd</string>
	<key>STORAGE_BUCKET</key>
	<string>deltna-7dbcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680598770477:ios:3de17fe3449666f1b6b9a4</string>
</dict>
</plist>