<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122707205776-55j5pb3u79dfn0dmu270qfa0gdimebbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122707205776-55j5pb3u79dfn0dmu270qfa0gdimebbp</string>
	<key>API_KEY</key>
	<string>AIzaSyAfq5jF4fQLVoRzL3OImfj54DmCd90qr10</string>
	<key>GCM_SENDER_ID</key>
	<string>122707205776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Deltna.Deltna</string>
	<key>PROJECT_ID</key>
	<string>deltna-16381</string>
	<key>STORAGE_BUCKET</key>
	<string>deltna-16381.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122707205776:ios:7a05bcd55564481e664215</string>
</dict>
</plist>